---
import Layout from "../layouts/Layout.astro";

interface Badge {
  filename: string;
  alt: string;
  link?: string;
}

const myBadges: Array<Badge> = [
  {filename: "kaamkiya.png", alt: "it's me, kaamkiya :)"},
  {filename: "kaamkiya.gif", alt: "it's me, kaamkiya :)"},
  {filename: "est2024.png",  alt: "this website was established in 2024"},
  {filename: "he-him.gif",   alt: "my pronouns are he/him"}
];
// const otherBadges: Array<Badge> = []; // this will be for sites that link back to me
const randomBadges: Array<Badge> = [
  {filename: "archlinux.gif", alt: "I use Arch btw", link: "https://archlinux.org/"},
  {filename: "canada.gif", alt: "Canada"},
  {filename: "indieweb.png", alt: "This site is part of the Indie Web", link: "https://indieweb.org/"},
  {filename: "internetarchive.png", alt: "The Internet Archive", link: "https://archive.org/"},
  {filename: "iso8601.png", alt: "The best date format is YYYY-MM-DD", link: "https://iso8601.com/"},
  {filename: "nocookie.gif", alt: "This site uses zero cookies"},
  {filename: "noerror.gif", alt: "Error? What error?"},
  {filename: "right2repair.png", alt: "I support the right to repair"},
  {filename: "underconstruction.gif", alt: "This website is permanently under construction"},
  {filename: "wikipedia.gif", alt: "Wikipedia rocks", link: "https://wikipedia.org/"},
  {filename: "www.gif", alt: "The World Wide Web, connecting people since 1991"},
  {filename: "emailme.gif", alt: "Email me! kaki@envs.net", link: "/contact"},
  {filename: "envsnet.png", alt: "envs.net", link: "https://envs.net"},
  {filename: "tildetown.gif", alt: "tilde.town", link: "https://tilde.town"},
  {filename: "firefox.gif", alt: "Firefox", link: "https://firefox.org"},
  {filename: "carpe_diem.gif", alt: "Carpe diem"},
  {filename: "littlepixellibrary.png", alt: "The Little Pixel Library", link: "https://hillhouse.neocities.org/cliques/library/"},
  {filename: "people_pledge.png", alt: "The People Pledge", link: "https://people.pledge.party"},
  {filename: "andycarolan_madebyahuman.png", alt: "Made by a human"},
];
---

<Layout title="Web Buttons/Badges">
  <h1>Web Buttons</h1>
  <h4>
    A bunch of web badges I've collected from the internet or made myself.
  </h4>
  <div class="badges">
    {
      myBadges.map(badge => {
        return badge.link !== undefined
          ? <a href={badge.link} target="_blank"><img src={"/88x31/"+badge.filename} alt={badge.alt} /></a>
          : <img src={"/88x31/"+badge.filename} alt={badge.alt} />
      })
    }
    <hr />
    <!--
    Here I'll put buttons for other people's sites that link back to mine
    <img ... />
    <hr />
    -->
    {
      randomBadges.map(badge => {
        return badge.link !== undefined
          ? <a href={badge.link} target="_blank"><img src={"/88x31/"+badge.filename} alt={badge.alt} /></a>
          : <img src={"/88x31/"+badge.filename} alt={badge.alt} />
      })
    }
  </div>
  <!--
    Partly sourced from https://88x31db.com and
    https://pilosophos.com/88x31-viewer/
  -->
</Layout>
